<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warape.producer.mapper.PayInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.warape.producer.entity.PayInfo">
        <id column="id" property="id" />
        <result column="pay_price" property="payPrice" />
        <result column="pay_channel" property="payChannel" />
        <result column="create_time" property="createTime" />
        <result column="order_id" property="orderId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pay_price, pay_channel, create_time, order_id
    </sql>

</mapper>
